{% extends "layout.html" %} 
{% block content %}
<div class = "card signUP mr-4">
    <!-- </div class="mt-2">     -->
        <legend class="my-4 mx-4">Create Account!</legend>
        <form action = '', method = "POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="mb-4 mx-4">
                <label class="form-label">User Name</label>
                {% if form.user_name.errors %}
                    {{ form.user_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.user_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-4 mx-4">
                <label class="form-label">First Name</label>
                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-4 mx-4">
                <label class="form-label">Last Name</label>
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-4 mx-4">
                <label class="form-label">Email</label>
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-4 mx-4">
                <label fo class="form-label">Password</label>
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mb-4">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    <!-- </div> -->
</div>
{% endblock content %}
